@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;600&display=swap');

$background: #f9f5ee;
$font: #212121;
$accent: #EA8C34;
$text1: #212121;
$text2: #c7a17a;

@mixin flex-center{
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Oswald', sans-serif;
    
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 140px;
  background-color: $background;
  height: 60px;

  img {
    height: 50px;
  }
    
  nav {
    display: flex;
    gap: 30px;
  }

  nav a{
    text-decoration: none;
    text-transform: uppercase;
    color: $text1;
    transition: .3s;

    &:hover {
        color: $text2;
    }
  }
}

.hero-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 50px 0;
  

  .hero-txt {
    @include flex-center;
    flex-direction: column;

    h1 {
      font-size: 60px;
    }

    h1, h2 {
      color: $text1;
    }
  }

  .hero-img {

    & img {
      height: 500px;
    }
  }
  
}

#our-story {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 50px 0;
  background-color: $background;

  & img {
    height: 500px;
  }
}

footer {
  height: 130px;
  background-color: $accent;

  img {
    height: 50px;
  }
}

@media screen and (max-width: 660px) {
    header {
    
        nav a {
            display: none;
        }
    }
}











